<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<appSettings>
		<add key="tlvAppName" value="tlvEvent"/>
		<add key="Logging.LoggingFolder" value="D:\logs"/>
		<add key="Logging.DefaultFileName" value="tlv_event_log"/>
		<add key="Logging.EventViewerSourceName" value="tlv_event_log"/>
		<add key="Logging.DebugTarget"   value="DB=1,File=1,EventViewer=0,Screen=0"/>
		<add key="Logging.InfoTarget" value="DB=0,File=1,EventViewer=1,Screen=0"/>
		<add key="Logging.WarningTarget" value="DB=0,File=1,EventViewer=1,Screen=0"/>
		<add key="Logging.ErrorTarget" value="DB=0,File=1,EventViewer=1,Screen=0"/>
		<add key="OEPTrackedAddress" value="http://bzppr/OepTracker/OEPTracker.svc"/>

    <add key ="TracerConfigFilePath" value ="d:\TracerConfigFilePath\log4net.config"/>
   
	</appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
